body {
    font-family: Verdana;
    font-size: small;
    margin: 0;
}

a {
    color: #0048A3;
}

table {
    border-collapse: collapse;
}

table.layoutGlobal {
    width: 100%;
}

table.layoutGlobal tr, table.layoutGlobal td, table.layoutGlobal th {
    border-width: 0px;
    vertical-align: top;
    padding: 0;
}

table.liste th, table.liste td {
    border: 1px solid gray;
    padding: 0px 5px 0px 5px;
}

table.liste th {
    border: 1px solid gray;
    padding: 0px 5px 0px 5px;
    background-color: #d5e2ff;
}

.leftBar {
    width: 270px;
    height: 100%;
    background-color: #ebeeff;
    padding: 10px;
}

.leftBar h1 {
    font-size: 14px;
}

.container {
    width: 100%;
    margin: 0;
}

.topBar {
    background-color: #ebeeff;
    padding: 5px 0 5px 0;
}

.notif {
    background-color: #ffef8a;
    margin-top: 5px;
    padding: 3px;
}

.page {
    padding: 10px;
}

.chrono {
    font-size: 10px;
    font-family: sans-serif;
}

.titreComplete {
    text-decoration: line-through;
}

.deadlineOrange {
    color: #ff7b1c;
}

.deadlineRouge {
    font-weight: bold;
    color: #ff0000;
}

.saisieNote {
    width: 100%;
}

.tdDescription {
    width: 100%;
}

.inputTitre {
    width: 100%;
    border: 1px solid #dadada;
    padding: 4px 7px 1px 7px;
    font-size: 17px;
    font-family: 'Oxygen', sans-serif;
}

.inputDescription {
    width: 100%;
    height: 100px;
    max-height: 800px;
}

.breadCrumb {
    display: inline-block;
    margin-bottom: 10px;
}

.divChronoDroite {
    float:right;
    display: inline-block;
}

.spanInfosDuree {
    font-size: x-small;
}

.type {
    font-weight: bold;
}

.tag {
    color: black;
    text-decoration: none;
    font-size: 10px;
    padding: 0 4px;
    border-radius: 5px;
}

.chrono {
    display: inline-block;
}

.chronoContent {
    background-color: #333333;
    color: white;
    padding: 3px;
}

.chronoContent a {
    color: white;
}

/* File uploads */
.file-uploader { background-color: #dfdfdf; border: 1px solid #696969}
.file-uploader ul { margin: 3px; padding: 0 }
.file-uploader li { display: inline-block; margin: 5px}
.file-uploader img { vertical-align: middle; }
.file-uploader .caption { display: inline-block; }

.navbar { min-height: 30px; margin-bottom: 0; }
.navbar-brand,
.navbar-nav > li > a {line-height: 0;}
.navbar-form, .navbar-text { margin-top: 4px; margin-bottom: 3px; display: inline-block }
.form-control { padding: 0 5px; height: auto; }
.navbar .btn { padding: 0 5px; }
.navbar { border-radius: 0 }
.tagsList { padding: 0; border: 0; background-color: transparent; box-shadow: none }
.tagsList li { box-shadow: 0 6px 12px rgba(0,0,0,0.175) }

.noteslist { border: 1px solid rgb(47, 47, 53); margin: 5px 0; }
.notesListTop {
    padding: 3px 6px;
    color: white;
    background-color: rgb(47, 47, 53);
    font-size: 11px;
    font-style: italic;
}
.notesListTop a { color: #99ccff; }
.notesListTop .dataTables_filter { display: inline-block }
.notesListTop .dataTables_filter label { margin-bottom: 0; }
.notesListTop .dataTables_filter label input { border: 0; }
.datatable { margin-bottom: 0 }

.prochaine { background-color: #ffffcc; }
.attente { background-color: #cccccc; }
.bientot { background-color: #ffcccc; }
.complete { text-decoration: line-through; }
.projet { background-color: #e3eaff; }
.reference { background-color: #e3ffe3; }